@import url('https://fonts.googleapis.com/css?family=Raleway');
body, html,main.main, button{
  min-height: 100%;
  font-family: Raleway;
  color: #555;
}
button:focus{
  outline: none;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.App main{
  
}
.App main .home-component{
  display: flex;
  justify-content: flex-start; 
}
.recipes-list-component{
  flex: 2;
  text-align: left;
  padding: 0 20px;
  height: 100vh;
  overflow-x: scroll;
}
.recipes-list-component header{
  border-bottom: 1px solid #555;
  padding-bottom: 16px;
}
.recipes-list-component .title-container{
  display: flex;
  flex: 2;
  align-items: baseline;
  align-content: space-between;
}
.recipes-list-component h1{
  display: flex;
  margin-top: 18px;
  margin-bottom: 8px;
  font-size: 36px;
}
.recipes-list-component .last-update-label{
  font-size: 11px;
  width: 100%;
  display: block;
}
.recipes-list-component button.refresh-recipe-btn{
  margin-left: 20px;
}
.recipes-list-component .recipe-list{
  list-style: none;
  padding: 0;
}
.recipes-list-component .recipe-list .recipe-list-item{
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid #555;
}
.recipes-list-component button{
  background: transparent;
  border: none;
  text-align:left;
  padding: 0 0 8px 0;
  font-size: 12px;
}
.recipes-list-component .trash-icon{
  padding-top: 0;
}
.recipe-view-component{
  flex: 3;
  text-align: left;
}
.recipe-view-component .banner{
  height: 200px;
  background-size:cover;
  background-position: center;
}
.recipe-view-component .no-image-banner{
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.recipe-view-component .text-container{
  display: block;
  float: left;
  padding-right: 20px;
}
.recipe-view-component h2{
  margin-top: 8px;
  margin-bottom: 0;
}
.recipe-view-component p{
  text-align: left;
  float: left;
  width: 100%;
  margin-top: 8px;
}
.recipe-view-component .no-current-recipe-component{
  height: 100%;
  -ms-flex-pack: ;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.recipe-view-component .no-current-recipe-component h2,
.recipe-view-component .no-current-recipe-component p{
  text-align: center;
  margin-bottom: 0;
}
.recipe-view-component .drive-button {
  float: left;
  text-align: left;
  text-decoration: none;
  border: 1px solid #444142;
  border-radius: 2px;
  padding: 4px 16px;
  vertical-align: middle;
  margin-top: 4px;
  color: #555;
}
.recipe-view-component .drive-button svg{

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
