body, html,main.main{
  min-height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.App main{
  
}
.App main .home-component{
  display: flex;
  justify-content: flex-start; 
}
.recipes-list-component{
  flex: 1;
}
.recipes-list-component .recipe-list{
  list-style: none;
  padding: 0;
}
.recipe-view-component{
  flex: 3;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
