.CardItemComponent{
  .card-image{
    img{
      object-fit: cover;
      object-position: center;
      border-bottom: 1px solid #eee;
    }
  }
  .card-content{
    padding: 1rem .75rem;
    &+.card-content{
      padding-top: 0;
    }
    .RecipeControlComponent{
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      &>ul.level-item{
        margin-bottom: .5rem !important;
        flex-wrap: wrap;
        justify-content: flex-start;
        &>.level-item{
          margin: 0 .5rem .5rem 0;
        }
      }
    }
  }
}